name: ci

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  test:
    name: test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: 'latest'
          bb: 'latest'

      - uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
            ~/.clojure
          key: clojure-deps-${{ hashFiles('**/deps.edn') }}
          restore-keys: clojure-deps-

      - name: Download dependencies
        run: clojure -P -M:test

      - name: Run tests
        run: bb test
